@page
@model Ukiyo_e_Gallery.Pages.Admin.Ukiyoes.IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Ukiyo-e List</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-primary" asp-page="create">
                Register new ukiyo-e
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Artist
            </th>
            <th>
                Year
            </th>
            <th>
                Last Update
            </th>
        </tr>
        <tr>
        </tr>

    </thead>
    <tbody>
        @foreach (var image in Model.Ukiyoes)
        {
            <tr>
                <td>
                    @image.Name
                </td>
                <td>
                    @image.Artist.Name
                </td>
                <td>
                    @image.PublishDate
                </td>
                <td>
                    @image.Posted.ToString("HH:mm:ss dd-MM-yy")
                </td>
                <td class="align-content-center text-center align-items-center center">
                    <div class="btn-group align-content-center text-center align-items-center center" role="group">
                        <a asp-page="Edit" asp-route-id="@image.Id" class="btn btn-primary" style="width:100px;">Edit</a>
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="id" value="@image.Id" />
                            <button type="submit" class="btn btn-secondary mx-3" style="width:100px" onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>